

@model closing_store.Models.product
<br />
<br />
<br />
<br />
<br />

    
    <section class="sec-product-detail bg0 p-t-65 p-b-60">
        <div class="container">
            @using (Html.BeginForm())
            {
                <div class="row">

                    <div class="col-md-6 col-lg-7 p-b-30">
                        <div class="p-l-25 p-r-30 p-lr-0-lg">
                            <div class="wrap-slick3 flex-sb flex-w">
                                <div class="wrap-slick3-dots"></div>
                                <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                                <div>
                                    <div class="item-slick3">
                                        <input type="hidden" name="id" value="@Model.id" />
                                        <div class="wrap-pic-w pos-relative">

                                            <img src="~/Content/images/@Model.image" alt="IMG-PRODUCT">


                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5 p-b-30">
                        <div class="p-r-50 p-t-5 p-lr-0-lg">

                            <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                                @Html.DisplayFor(model => model.name)


                            </h4>



                            <span class="mtext-106 cl2">

                                @Html.DisplayFor(model => model.price)

                            </span>

                            <p class="stext-102 cl3 p-t-23">
                                @Html.DisplayFor(model => model.description)

                            </p>

                            <!--  -->
                            <div class="p-t-33">
                                <div class="flex-w flex-r-m p-b-10">
                                    <div class="size-203 flex-c-m respon6">
                                        @Html.DisplayNameFor(model => model.size)
                                    </div>

                                    <div class="size-204 respon6-next">
                                        @Html.DisplayFor(model => model.size)
                                    </div>
                                </div>

                                <div class="flex-w flex-r-m p-b-10">
                                    <div class="size-203 flex-c-m respon6">
                                        @Html.DisplayNameFor(model => model.color)
                                    </div>

                                    <div class="size-204 respon6-next">
                                        @Html.DisplayFor(model => model.color)
                                    </div>
                                </div>

                                <div class="flex-w flex-r-m p-b-10">
                                    <div class="size-204 flex-w flex-m respon6-next">
                                        <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                            <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                <i class="fs-16 zmdi zmdi-minus"></i>
                                            </div>

                                            <input class="mtext-104 cl3 txt-center num-product"  type="number" min="1" max="50" name="quantity">

                                            <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                <i class="fs-16 zmdi zmdi-plus"></i>
                                            </div>
                                        </div>

                                        <input type="submit" value="Add to cart" class="btn btn-warning" />
                                    </div>
                                </div>
                            </div>
                            

                            <!--  -->
                            <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                                <div class="flex-m bor9 p-r-10 m-r-11">
                                    <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
                                        <i class="zmdi zmdi-favorite"></i>
                                    </a>
                                </div>

                                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>

                                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>

                                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            }
            </div>


    </section>

